.action-bar
{
    margin-left: -10;
    padding-right: 5;
    height: 45;
    color: white;
    background-color: #CB1D00;
}

.action-bar Label
{
    text-align: left;
    text-transform: uppercase;
}

.back_icon
{
    width: 18;
    height: 18;
    margin-right: 10;
}

.info
{
    background-color: #e7e7e7;
    border-width: 1;
    border-color: #d5d5d5;
    margin: 5 5 0 5;
}

.photo
{
    width: 80;
    height: 80;
    padding: 8;
    border-radius: 40;
}