.action-bar
{
    margin-left: -10;
    padding-right: 5;
    height: 45;
    color: white;
    background-color: #CB1D00;
}

.action-bar Label
{
    text-align: left;
    text-transform: uppercase;
}

.back_icon
{
    width: 18;
    height: 18;
    margin-right: 10;
}

.add
{
    width: 50;
    height: 50;
    background-color: #00caab;
    border-radius: 50;
    margin: 10;
}

.row
{
    height: 120px;
    padding: 30px;
    border-bottom-width: 1;
    border-color: rgba(0, 170, 252, 0.38);
    background-color: #00aafc;
    color: #fff;
}

.delete-view
{
    background-color: #fc4242;
}