.action-bar
{
    margin-left: -10;
    padding-right: 5;
    height: 45;
    color: white;
    background-color: #CB1D00;
}

.action-bar Label
{
    text-align: left;
    text-transform: uppercase;
}

.exit-icon
{
    width: 25;
    height: 25;
}

.label
{
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    background-color: rgba(0,0,0, 0.5);
}

@keyframes play {
    from {
        opacity: 0.6;
        transform: scale(1, 1);
    }
    50% {
        opacity: 0.8;
        transform: scale(0.9, 0.9);
        animation-timing-function: ease-out;
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.item-animated
{
    animation-name: play;
    animation-duration: 0.2;
}